.u-section-1 .u-sheet-1 {
  min-height: 400px;
}
#subClass {
  text-align: center;
}
h3{
  font-family: "Palatino Linotype";
}
#mission{
  font-family: "Courier New";
}
#shop{
  font-weight: bold;
}
#search{
  text-align: center;
}
#searchButton{
  background-color: black;
  color: white;
  border: 1px solid;
}
#about{
  font-style: italic;
  font-weight: bold;
}